<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin - Studenti</title>
<!-- Adăugăm link-ul către Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script type="text/javascript">
	function toggleVisibility() {
		var div = document.getElementById("edit-Form-Add");
		if (div.style.display === "none") {
			div.style.display = "block";
		} else {
			div.style.display = "none";
		}
	}

	function closeEditForm() {

		document.getElementById('editFormContainer').style.display = 'none';
	}
</script>
<style>
/* Centrarea mesajului de succes în mijlocul ecranului */
.alert-container {
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	z-index: 9999;
	text-align: center;
	height: 50px;
}
</style>
</head>
<body>
	<div class="container mt-4">

		<a href="/adminpage" class="btn btn-secondary">Înapoi</a>
	</div>
	<div th:if="${message != null}"
		class="alert-container alert alert-success" role="alert">

		<span th:text="${message}"></span>

	</div>
	<div class="container mt-5">
		<h1 class="text-center">Administrare Studenți</h1>
		<button onclick="toggleVisibility()" class="btn btn-success">Arată/Ascunde
			Formular Adaugare Student</button>
		<!-- Formularul de adăugare a unui student -->
		<div style="display: none" id="edit-Form-Add">
			<h3 class="mt-4">Adaugă Student</h3>
			<form th:action="@{/admin/student/add}" th:object="${student}"
				method="post" class="row g-3">
				<div class="col-md-4">
					<label for="nume" class="form-label">Nume</label> <input
						type="text" id="nume" th:field="*{nume}" class="form-control"
						required />
				</div>
				<div class="col-md-4">
					<label for="prenume" class="form-label">Prenume</label> <input
						type="text" id="prenume" th:field="*{prenume}"
						class="form-control" required />
				</div>
				<div class="col-md-4">
					<label for="clasa" class="form-label">Clasa</label> <select
						th:field="*{clasa}" class="form-control" required="required">

						<option th:each="clasa : ${grades}" th:value="${clasa}"
							th:text="${clasa}"></option>
					</select>



				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Adaugă
						Student</button>
				</div>
			</form>
		</div>
		<!-- Tabelul cu studenții -->
		<h3 class="mt-4">Lista Studenților</h3>
		<table class="table table-striped table-bordered mt-3">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nume</th>
					<th>Prenume</th>
					<th>Clasa</th>
					<th>Acțiuni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${students}"
					th:id="'studentRow-' + ${student.id}">
					<td th:text="${student.id}"></td>
					<td th:text="${student.nume}"></td>
					<td th:text="${student.prenume}"></td>
					<td th:text="${student.clasa}"></td>
					<td>
						<!-- Butonul de editare --> <a class="btn btn-warning btn-sm"
						th:href="@{/admin/student/showEdit/{id}(id=${student.id})}"
						style="margin-right: 10px">Editează</a> <a
						th:href="@{/admin/student/delete/{id}(id=${student.id})}"
						class="btn btn-danger btn-sm">Șterge</a>
					</td>
				</tr>


			</tbody>
		</table>
		<div id="editFormContainer" th:if="${showEditForm}">
			<h3>Editare Student</h3>
			<form id="editForm" th:action="@{/admin/student/edit}" method="POST"
				th:object="${studentEdit}">
				<input type="hidden" th:field="*{id}" />
				<!-- Ascunde ID-ul -->
				<div class="form-group">
					<label for="nume">Nume</label> <input type="text"
						th:field="*{nume}" class="form-control" />
				</div>
				<div class="form-group">
					<label for="prenume">Prenume</label> <input type="text"
						th:field="*{prenume}" class="form-control" />
				</div>
				<div class="form-group">
					<label for="clasa">Clasa</label> <select th:field="*{clasa}"
						class="form-control">
						<option value="" th:selected="*{clasa == null}">Selectează
							Clasa</option>
						<option th:each="clasa : ${grades}" th:value="${clasa}"
							th:text="${clasa}" th:selected="${clasa == studentEdit.clasa}"></option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Salvează</button>
				<button type="button" class="btn btn-secondary"
					onclick="closeEditForm()">Anulează</button>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		setTimeout(function() {
			const alertContainer = document.querySelector('.alert-container');
			if (alertContainer) {
				alertContainer.style.display = 'none';
			}
		}, 5000);
	</script>
</body>
</html>