<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/profesorAdd}" th:object="${profesor}"
		method="post">

		<fieldset>
			<table>
			
				<tr>
					<th>Nume</th>

					<td><input th:field="*{nume}" /></td>
				</tr>
				<tr>
					<th>Prenume</th>

					<td><input th:field="*{prenume}" /></td>
				</tr>
				<!--<tr>
					<th>Materii</th>
					<td><th:block th:each="matrie:${materii}">
							<input type="checkbox" name="mat" th:value="${materie.id}" />
							<label th:text="${materie.denumire}"></label>
						</th:block></td>
				</tr>-->
				<!--<tr>
			<th>Materie</th>
		</tr>
		<td><input th:field="*{profesor}" /></td>
		</tr>  -->

			</table>
			<input type="submit" id="btnAddProfesor" th:value="Adauga" />

		</fieldset>
	</form>
</body>
</html>