<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" content="text/html" http-equiv="Content-type">
<title>Materie</title>
</head>
<body>
	<p th:text="|Materiile sunt: ${materii}|" />
	<form action="#" th:action="@{/materieAdd}" th:object="${materie}"
		method="post">
		<fieldset>
			<table>
			<tr>
					<th>ID</th>
					<td><input th:field="*{id}" /></td>
				</tr>
				<tr>
					<th>Nume materie</th>
					<td><input th:field="*{denumire}" /></td>
				</tr>
				
			</table>
			<input type="submit" id="btnAddMaterie" th:value="Adauga"/>

		</fieldset>

</body>
</html>