<!DOCTYPE html>
<html lang="ro">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Elevi din Clasa</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="position-fixed" style="top: 10px; right: 10px;">
        
        <a href="/logout" class="btn btn-danger btn-sm">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </div>
	<div class="container mt-5">
		<h1 class="text-center mb-4">Lista studentilor</h1>

		<!-- Formular pentru a selecta clasa -->
		
		<form method="get" th:action="@{/students/search}">
			<div>
				<label for="query">Căutare după nume:</label> <input type="text"
					name="query" placeholder="Căutare student" th:value="${query}"
					class="form-control" />
			</div>

			<div>
				<label for="clasa">Selectează clasa:</label> <select name="clasa" onchange="this.form.submit()"
					class="form-control">
					<option value="" th:selected="${clasa == null}">Toate clasele</option>
					<option th:each="clasa : ${classRooms}" th:value="${clasa}"
						th:text="${clasa}" th:selected="${clasa == selectedGrade}">Clasa
						X</option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Căutare</button>
		</form>

		
		<div class="mt-4">
			<!-- Tabelul de elevi -->
			<table class="table table-bordered table-striped"
				th:if="${not #lists.isEmpty(students)}">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nume</th>
						<th>Prenume</th>
						<th>Clasa</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="student : ${students}">
						<tr>
							<td th:text="${student.id}"></td>
							<td th:text="${student.nume}"></td>
							<td th:text="${student.prenume}"></td>
							<td th:text="${student.clasa}"></td>
							<td><a
								th:href="@{/student/{studentId}/grades(studentId=${student.id})}"
								class="btn btn-info">Vezi Note</a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<p th:unless="${not #lists.isEmpty(students)}">Nu există studenți
				în această clasă.</p>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>